[submodule "foundry-f25/foundry-simple-storage/lib/forge-std"]
	path = foundry-f25/foundry-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f25/ethernut-foundry/ethernutFoundry/lib/forge-std"]
	path = foundry-f25/ethernut-foundry/ethernutFoundry/lib/forge-std
[submodule "foundry-f25/ethernut-foundry/lib/forge-std"]
	path = foundry-f25/ethernut-foundry/lib/forge-std
[submodule "foundry-f25/foundry-fund-me-f25/lib/forge-std"]
	path = foundry-f25/foundry-fund-me-f25/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
